/* Epic Games | Jonathan Wu (Loki), Jesse Xie (Polly), William Chen (Cheap), Josephine Lee (Kitty)
SoftDev
P04 -- SoftDev Project 2021-22
2022-05-18
0 minutes */

@font-face {
    font-family: 'BigBoldPixel';
    src: url('../assets/fonts/BigBoldPixel.eot');
    src: url('../assets/fonts/BigBoldPixel.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/BigBoldPixel.woff2') format('woff2'),
         url('../assets/fonts/BigBoldPixel.woff') format('woff'),
         url('../assets/fonts/BigBoldPixel.ttf') format('truetype'),
         url('../assets/fonts/BigBoldPixel.svg#BigBoldPixel') format('svg');
    font-weight: bold;
    font-style: normal;
}

body {
  font-family: "BigBoldPixel";
  color: #fffcf2;
  background: #2e2d2d;
  z-index: 999;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color:inherit;
}

h1{
  padding-top: 3vh;
  padding-bottom: 4vh;
  margin-bottom: 10vh;
  font-size: 3vh;
}

button {
  color: #fffcf2;
  background-color: transparent;
  border: none;
  margin: none;
}

button:hover {
  color: #56a67b;
  text-shadow: 0px 0px 10px black;
  transition: 0.9s ease all;
  border: none;

}

h2 {
  padding-top: 2vh;
  padding-bottom: 2vh;
  font-size: 2vh;
}

h2:hover {
  color: #56a67b;
  text-shadow: 0px 0px 10px black;
  transition: 0.9s ease all;
}

.main-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0;
  margin-left: 0;
  margin: auto;
  width: 80vw;
  height: 100vh;
}

.menu-text {
  height: 75%;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  margin: auto;
}

#loadText {
  color: black;
  position: fixed;
  display: none;
}

canvas {
  position: absolute;
}

#goldVar, #one, #two, #three, #reroll, #lock, #party {
  padding-top: 20px;
}

#reroll {
  padding-left: 30px;
  padding-right: 15px;
  color: #749ecf;
}

#party {
  padding-left: 15px;
  padding-right: 15px;
}

#lock, #go {
  padding-left: 15px;
  padding-right: 15px;
  color: #749ecf;
}

#go {
  position: fixed;
  padding-bottom: 20px;
  bottom: 5%;
  right: 10vw;
}

#reroll:hover, #lock:hover, #go:hover {
  color: #dcde8c;
  transition: 0.9s ease all;
}

#game {
    position: absolute;
    text-align: center;
    border-style: none;
    border-color: white ;
    z-index: -10;
    opacity: 50%;
}

#myForm2 {
    display: none;
}

#myForm {
    display: none;
}

.shop {
  position: fixed;
  left: 10vw;
  top: 0px;
  width: 100%;
  height: 10%;
  font-size: 2vh;
  display: none;
}

#volume, #scores, #volume-control {
  font-size: 1.25vh;
  color: #dcde8c;
  margin-left: 15px;
}

#close {
  font-size: 1.25vh;
  color: #749ecf;
  margin-top: -25px;
}

#shopItems {
  position: fixed;
  left: 10vw;
  top: 10%;
  padding: 20px;
}

#arena {
  display: none;
  width: 100%;
  height: 100%;
}

#waveText {
  display: fixed;
  height: 10%;
  left: 10vw;
  top: 0px;
  padding: 22px;
}
/* Animations */

.breathe {
  animation-name: breathe;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  animation-delay: 0;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes breathe {
  0% {
    font-size: 3rem;
    color: #749ecf;
  }

  50% {
    font-size: 2.9rem;
    color: #dcde8c;
  }

  100% {
    font-size: 3rem;
    color: #749ecf;
  }
}

.transition {
  animation-name: transition;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-delay: 0;
  animation-fill-mode: forwards;
}

@keyframes transition {
  0% {
    background: #2e2d2d;
  }

  50% {
    background: white;
  }

  100% {
    background: #2e2d2d'
  }
}

.transitionShop {
  animation-name: transitionShop;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-delay: 0;
  animation-fill-mode: forwards;
}

@keyframes transitionShop {
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}

.transitionLoad {
  animation-name: transitionLoad;
  animation-duration: 2.5s;
  animation-timing-function: ease-in-out;
  animation-delay: 0;
  animation-fill-mode: forwards;
}

@keyframes transitionLoad {
  0% {
    opacity: 0%;
  }

  20% {
    opacity: 100%;
  }

  80% {
    opacity: 100%;
  }

  100% {
    opacity: 0%;
  }
}

.transitionCanvas {
  animation-name: transitionCanvas;
  animation-duration: 2.5s;
  animation-timing-function: ease-in-out;
  animation-delay: 0;
  animation-fill-mode: forwards;
}

@keyframes transitionCanvas {
  0% {
    opacity: 0%;
    border: none;
  }

  80% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
    border: solid;
  }
}

.transitionArena {
  animation-name: transitionArena;
  animation-duration: 2.5s;
  animation-timing-function: ease-in-out;
  animation-delay: 0;
  animation-fill-mode: forwards;
}

@keyframes transitionArena {
  0% {
    opacity: 0%;
  }

  80% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}
