<!-- Epic Games | Jonathan Wu (Loki), Jesse Xie (Polly), William Chen (Cheap), Josephine Lee (Kitty)
SoftDev
P04 -- SoftDev Project 2021-22
2022-05-18
0 minutes -->

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="../static/images/favicon.ico" type="image/x-icon"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>PYTHNX</title>
  </head>
  <script>
  localStorage.clear();
  localStorage.setItem('snakes',JSON.stringify({})) ;
  localStorage.setItem('maxPartySize',3) ;
  localStorage.setItem('gold',3) ;
  localStorage.setItem('level',1) ;
  function myFunction() {
    let text;
    let person = prompt("Please create a username:", "");
    while (person == null || person == "") {
      person = prompt("Please enter a non-blank username:", "")
    }
    document.getElementById("game").style.display = "none";
    document.getElementById("game").style.opacity = "0%";
    setTimeout(() => {
      document.getElementById("shop").style.display = "flex";
      document.getElementById("shop").classList.add("transitionShop");
      document.getElementById("goldVar").style.display = "block";
      document.getElementById("goldVar").classList.add("transitionShop");
      document.getElementById("reroll").style.display = "block";
      document.getElementById("reroll").classList.add("transitionShop");
      document.getElementById("lock").style.display = "block";
      document.getElementById("lock").classList.add("transitionShop");
      document.getElementById("party").style.display = "block";
      document.getElementById("party").classList.add("transitionShop");
      document.getElementById("go").style.display = "block";
      document.getElementById("go").classList.add("transitionShop");
      document.getElementById("one").style.display = "block";
      document.getElementById("one").classList.add("transitionShop");
      document.getElementById("two").style.display = "block";
      document.getElementById("two").classList.add("transitionShop");
      document.getElementById("three").style.display = "block";
      document.getElementById("three").classList.add("transitionShop");
    }, "1500")
    document.getElementById("loadText").style.display = "block";
    document.getElementById("loadText").classList.add("transitionLoad");
    document.getElementById("mt").style.display = "none";
    document.getElementById("body").classList.add("transition");
    localStorage.setItem('active','shop') ;
    var gold = localStorage.getItem('gold') ;
    var goldVar = document.getElementById("goldVar");
    goldVar.innerHTML = "Shop - Gold: " + gold ;
  }
  </script>

  <script>
    function showLeaders(){
      <canvas width="1000" height="800" id="leadersCanvas"></canvas>

    }

  </script>
  <script>
    function showOptions(){

      <canvas width="1000" height="800" id="optionsCanvas"></canvas>

    }

  </script>
  <!--<div class="hide" id="leaderboard">

    <table>
      <tr>
        <th> Username </th>
        <th> Score </th>
      </tr>
      {% for data in userScore %}
      <tr>
        <td>{{data[0]}}</td>
        <td>{{data[1]}}</td><br>
      </tr>
      {% endfor %}
    </table>

  </div>

  <div class="hide" id="options">

  </div>-->
  <body id="body">
    <div class="main-menu" id="mm">
      <canvas width=window.innerWidth height=window.innerHeight; id="game"></canvas>
      <p id="loadText"> Loading... </p>
      <div class="arena" id="arena">
        <p id="waveText"> Wave: 1/5 </p>
      </div>
      <div class="shop" id="shop">
        <p id="goldVar"> Shop - Gold: 3 </p> <br>
        <p> <button id="reroll"> Reroll: 2 </button> </p>
        <p> <button id="lock"> Lock </button> </p>
        <p id="party"> Party: 0/5 </p> <br>
        <p> <button id="rerun"> Restart </button> </p>
        <p id="stageLevel"> Stage 1 </p>
        <p> <button id="go"> Go </button> </p> <br>
        <div id="shopItems">
          <h2> <button id="one"> one </button> </h2>
          <h2> <button id="two"> two </button> </h2>
          <h2> <button id="three"> three </button> </h2>
          <p id="error" onclick="errorDisplay()"></p><br>
          <div id="displayParty">
            <p> Party Members:
            <p id="s1" style="margin-bottom: 0px"></p>
            <p id="s2" style="margin-bottom: 0px"></p>
            <p id="s3" style="margin-bottom: 0px"></p>
            <p id="s4" style="margin-bottom: 0px"></p>
          </div>
        </div>
      </div>
      <div class="menu-text" id="mt">
          <h1 class="breathe" id="parent"> PYTHNX </h1>
          <h2> <button onclick="myFunction()">START</button></h2>
          <h2><button class="open-button" onclick="openForm2()">OPTIONS</button></h2>
          <div class="form-popup" id="myForm2">
            <!--<form action="/action_page.php" class="form-container"> <!-- This will change to the redirect stuff -->
            <p ><button type="button" onclick="toggleSound()" id="music">TOGGLE SOUND</button>
            </p>
            <button type="button" class="btn cancel" onclick="closeForm2()" id="close">Close</button>
        </div>
          <h2><button class="open-button" onclick="openForm()">LEADERBOARD</button></h2>
          <div class="form-popup" id="myForm">
            <!--<form action="/action_page.php" class="form-container"> <!-- This will change to the redirect stuff -->
              <p id="scores"> [PLACEHOLDER]
              </p>
              <br>
              <button type="button" class="btn cancel" onclick="closeForm()" id="close">Close</button>
        </div>
      </div>
    </div>
    </body>
    <audio autoplay loop id="music">
      <source src="../static/assets/music/Ember.ogg" type="audio/ogg">
    </audio>
    <script>
      var key = new Audio();
      key.src = "../static/assets/music/key.ogg";
      key.play();
      function openForm() {
        document.getElementById("myForm").style.display = "block";
      }

      function closeForm() {
        document.getElementById("myForm").style.display = "none";
      }
      function openForm2() {
        document.getElementById("myForm2").style.display = "block";
      }

      function closeForm2() {
        document.getElementById("myForm2").style.display = "none";
      }
      function toggleSound() {
        var elements = document.getElementsByTagName('audio');
        for(var e = 0; e < elements.length; elements[e].muted = !elements[e].muted, e++);
      }
    </script>
    <script src="/static/js/script.js" type="module"></script>
    <script src="/static/js/shop.js" type="module"></script>
</html>
